<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>
<div class="container">
<nav th:replace="fragments/navbar :: topNavbar('pizza-stores')"></nav>
<div class="container d-flex justify-content-between m-2">
    <h1> MENU PIZZE</h1>
    <form class="form-inline my-2 my-lg-0 d-flex" th:action="@{/pizza-stores}" method="GET">
        <input class="form-control mr-sm-2 mx-2" type="search" placeholder="Search by name or ingredient" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>
            Pizza Name
        </th>
        <th>
            Pizza Description
        </th>
        <th>
            Pizza Picture
        </th>
        <th>
            Pizza Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
        <td th:text="*{pizzaName}"></td>
        <td th:text="*{pizzaDescription}"></td>
        <td>
            <img class="img-fluid w-25" th:src="*{pizzaPicture}" alt="Pizza Image" />
        </td>

        <td th:text="'€ ' + *{pizzaPrice}"></td>
        <td>
            <a th:href="@{pizza-stores/show/{id}(id=*{id})}">
                <i class="fa-solid fa-pizza-slice text-warning icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"></i>
            </a>
        </td>
    </tr>

<!--    VERSIONE LUNGA-->
<!--    <tr th:each="pizza : ${pizzaList}">/
        <td th:text="${pizza.pizzaName}"></td>/
        <td th:text="${pizza.pizzaDescription}"></td>/
        <td th:text="${pizza.pizzaPicture}"></td>/
        <td th:text="'€ ' + ${pizza.pizzaPrice}"></td>/
    </tr>
-->
    </tbody>
</table>
</div>
</body>
</html>