<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>
    <div class="container" th:object="${pizza}">
        <nav th:replace="fragments/navbar :: topNavbar('pizza-stores')"></nav>
        <h1 th:text="*{pizzaName}"></h1>
        <hr>
        <dl>
            <dt>Picture</dt>
            <dd>
                <img class="img-fluid w-25" th:src="*{pizzaPicture}"/>
            </dd>
            <dt>Pizza Description</dt>
            <dd th:text="*{pizzaDescription}"></dd>
            <dt>Price:</dt>
            <dd th:text="*{pizzaPrice}"></dd>
        </dl>
        <div class="mt-2 d-flex">
            <a th:href="@{/pizza-stores}" class="btn btn-warning mx-3">Back to the Main Page</a>
            <a th:href="@{/pizza-stores/edit/{id}(id=*{id})}" title="edit">
                <i class="fa-solid fa-pen-nib text-warning icon-link icon-link-hover"></i>
            </a>
        </div>
    </div>
</body>
</html>