<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>
    <div class="container" th:object="${pizza}">
        <nav th:replace="fragments/navbar :: topNavbar('pizza-stores')"></nav>
        <h1 th:text="*{pizzaName}"></h1>
        <hr>
        <section>
        <dl>
            <dt>Picture</dt>
            <dd>
                <img class="img-fluid w-25" th:src="*{pizzaPicture}"/>
            </dd>
<!--            <dt>Pizza Description</dt>-->
            <dd th:text="*{pizzaDescription}"></dd>
            <dt>Price:</dt>
            <dd th:text="*{pizzaPrice}"></dd>
        </dl>
        <div class="mt-2 d-flex">
            <a th:href="@{/pizza-stores}" class="btn btn-warning mx-3">Back to the Main Page</a>
            <a th:href="@{/pizza-stores/edit/{id}(id=*{id})}" title="edit">
                <i class="fa-solid fa-pen-nib text-warning icon-link icon-link-hover"></i>
            </a>
        </div>
        </section>
        <section class="mt-5">
            <div class="d-flex">
                <h2> Special Offers</h2>
                    <a class="btn btn-success mx-3 p-2" th:href="@{/specials/create(pizzaId=*{id})}">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type of Offer</th>
                </tr>
                </thead>
                <tbody>
                   <tr th:each="special : *{specials}" th:object="${special}">
                       <td th:text="*{stardDate}"></td>
                       <td th:text="*{endDate}"></td>
                       <td th:text="*{offerName}"></td>
                   </tr>
                </tbody>
            </table>
            <div th:if="*{specials.size() == 0}" class="alert alert-info"> There is no special Offer here! </div>
        </section>
    </div>
</body>
</html>